In [1]:
import statistics as stat
import pandas as pd
from const import URL_DATABASE
from utils import create_engine
from utils import select_data

In [2]:
dbEngine = create_engine(URL_DATABASE)
connection = dbEngine.connect()

In [3]:
df = pd.read_sql_table('wig', connection)
del df['index']
df

            Data  Otwarcie  Najwyzszy  Najnizszy  Zamkniecie     Wolumen
0     1991-04-16    100.00     100.00     100.00      100.00       325.0
1     1991-04-23     95.70      95.70      95.70       95.70      5905.0
2     1991-04-30     93.50      93.50      93.50       93.50      7162.0
3     1991-05-14     92.90      92.90      92.90       92.90     18300.0
4     1991-05-21     95.50      95.50      95.50       95.50     14750.0
...          ...       ...        ...        ...         ...         ...
7476  2022-12-22   1786.63    1796.05    1774.71     1780.07  10579489.0
7477  2022-12-23   1778.58    1782.76    1769.41     1780.27   8034718.0
7478  2022-12-27   1788.67    1792.82    1762.64     1765.87   6876220.0
7479  2022-12-28   1764.30    1776.98    1757.71     1767.88  10436182.0
7480  2022-12-29   1768.98    1802.20    1763.44     1802.20   8855182.0

[7481 rows x 6 columns]

In [4]:
df.describe()

          Otwarcie    Najwyzszy    Najnizszy   Zamkniecie       Wolumen
count  7481.000000  7481.000000  7481.000000  7481.000000  7.481000e+03
mean   1926.376240  1940.807740  1910.549691  1925.925424  1.812409e+07
std     700.066105   705.633459   693.028201   699.453284  1.851046e+07
min      62.800000    62.800000    62.800000    62.800000  8.500000e+01
25%    1478.730000  1491.190000  1466.340000  1481.100000  4.727511e+06
50%    1948.660000  1966.720000  1931.520000  1951.050000  1.527287e+07
75%    2368.730000  2384.840000  2351.810000  2367.840000  2.513949e+07
max    3935.470000  3940.530000  3910.960000  3917.870000  2.573333e+08

In [5]:
column = df['Otwarcie']
skew = column.skew()
variance = stat.variance(column)
stdev = stat.stdev(column)
kurtoza = column.kurt()
# skośność kurtoza

print(f'Wariancja: {variance}')
print(f'Odchylenie standardowe: {stdev}')
print(f'skośność: {skew}')
print(f'kurtoza: {kurtoza}')

Wariancja: 490092.5515458724
Odchylenie standardowe: 700.0661051257034
skośność: -0.1318826424130502
kurtoza: 0.4333803523831432

In [6]:
df['Data'] = pd.to_datetime(df['Data'])

In [7]:
df = select_data(df, connection, 2013, 1, 25, 2015, 3, 2, True)

istnieje tabela o takim datasecie

In [8]:
df

           Data  Otwarcie  Najwyzszy  Najnizszy  Zamkniecie     Wolumen
5003 2013-01-28   2534.40    2539.89    2511.50     2521.50  28120036.0
5004 2013-01-29   2525.08    2525.22    2503.97     2524.36  33039711.0
5005 2013-01-30   2501.65    2524.19    2490.37     2496.15  48904076.0
5006 2013-01-31   2499.00    2503.27    2480.56     2492.76  57208587.0
5007 2013-02-01   2497.28    2507.45    2493.77     2499.19  43498500.0
...         ...       ...        ...        ...         ...         ...
5516 2015-02-23   2359.47    2365.58    2354.46     2365.58  19071003.0
5517 2015-02-24   2364.12    2366.27    2346.30     2363.61  21829065.0
5518 2015-02-25   2366.87    2369.24    2350.07     2354.65  17863397.0
5519 2015-02-26   2350.47    2361.01    2345.31     2361.01  19126926.0
5520 2015-02-27   2361.45    2368.58    2355.17     2367.10  29220424.0

[518 rows x 6 columns]

In [9]:
df.describe()

          Otwarcie    Najwyzszy    Najnizszy   Zamkniecie       Wolumen
count   518.000000   518.000000   518.000000   518.000000  5.180000e+02
mean   2411.935232  2425.585560  2395.498359  2410.307355  2.623053e+07
std      74.699297    73.444517    77.057390    75.157293  2.134439e+07
min    2182.290000  2237.850000  2150.820000  2177.020000  6.488816e+06
25%    2360.962500  2376.200000  2344.852500  2361.127500  1.649353e+07
50%    2413.295000  2425.540000  2399.535000  2411.090000  2.072130e+07
75%    2460.577500  2475.552500  2450.140000  2463.370000  2.841911e+07
max    2619.940000  2625.830000  2597.670000  2622.250000  1.908256e+08

In [10]:
column = df['Otwarcie']
skew = column.skew()
variance = stat.variance(column)
stdev = stat.stdev(column)
kurtoza = column.kurt()
# skośność kurtoza

print(f'Wariancja: {variance}')
print(f'Odchylenie standardowe: {stdev}')
print(f'skośność: {skew}')
print(f'kurtoza: {kurtoza}')

Wariancja: 5579.98498050716
Odchylenie standardowe: 74.69929705497341
skośność: -0.11488547157276441
kurtoza: 0.028773009330585353