In [20]:
from const import URL_DATABASE
from utils import create_engine
import pandas as pd
import statistics as stat

In [21]:
dbEngine = create_engine(URL_DATABASE)
connection = dbEngine.connect()

In [22]:
df = pd.read_sql_table('wig', connection)
del df['index']
df

            Data  Otwarcie  Najwyzszy  Najnizszy  Zamkniecie     Wolumen
0     1991-04-16    100.00     100.00     100.00      100.00       325.0
1     1991-04-23     95.70      95.70      95.70       95.70      5905.0
2     1991-04-30     93.50      93.50      93.50       93.50      7162.0
3     1991-05-14     92.90      92.90      92.90       92.90     18300.0
4     1991-05-21     95.50      95.50      95.50       95.50     14750.0
...          ...       ...        ...        ...         ...         ...
7476  2022-12-22   1786.63    1796.05    1774.71     1780.07  10579489.0
7477  2022-12-23   1778.58    1782.76    1769.41     1780.27   8034718.0
7478  2022-12-27   1788.67    1792.82    1762.64     1765.87   6876220.0
7479  2022-12-28   1764.30    1776.98    1757.71     1767.88  10436182.0
7480  2022-12-29   1768.98    1802.20    1763.44     1802.20   8855182.0

[7481 rows x 6 columns]

In [23]:
df.describe()

          Otwarcie    Najwyzszy    Najnizszy   Zamkniecie       Wolumen
count  7481.000000  7481.000000  7481.000000  7481.000000  7.481000e+03
mean   1926.376240  1940.807740  1910.549691  1925.925424  1.812409e+07
std     700.066105   705.633459   693.028201   699.453284  1.851046e+07
min      62.800000    62.800000    62.800000    62.800000  8.500000e+01
25%    1478.730000  1491.190000  1466.340000  1481.100000  4.727511e+06
50%    1948.660000  1966.720000  1931.520000  1951.050000  1.527287e+07
75%    2368.730000  2384.840000  2351.810000  2367.840000  2.513949e+07
max    3935.470000  3940.530000  3910.960000  3917.870000  2.573333e+08

In [24]:
column = df['Otwarcie']
mean = column.mean()
median = column.median()
min_value = column.min()
max_value = column.max()
variance = stat.variance(column)
stdev = stat.stdev(column)

print(f'Średnia: {mean}')
print(f'Mediana: {median}')
print(f'Minimum: {min_value}')
print(f'Maksimum: {max_value}')
print(f'Wariancja: {variance}')
print(f'Odchylenie standardowe: {stdev}')

Średnia: 1926.3762398075123
Mediana: 1948.66
Minimum: 62.8
Maksimum: 3935.47
Wariancja: 490092.5515458724
Odchylenie standardowe: 700.0661051257034